#alc_bubble_plot {
	top:50px;
	bottom: 50px;
	left: 50px;
	right: 50px;
	height: 400px;
	width: 400px;
}

#alc_choropleth_map {
	top: 700px;
	bottom: 50px;
	left: 50px;
	right: 50px;
	height: 500px;
	width: 400px;
}


