#alc_bubble_plot {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: 500px;
	width: 400px;
}

#alc_choropleth_map {
	top: 600px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: 500px;
	width: 400px;
}


