#alc_choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#alc_bubble_plot {
	top:400px;
	bottom: 400px; 
	left: 400px;
	right: 400px;
	/*height: 1000px;
	width: 800px;*/
}
